@{
    ViewBag.Title = "Najtrazeniji lokali";
}
<body align ="center">
<h1 align ="center">@ViewBag.Title</h1>
<h2 align ="center">JUNI 2018</h2>
<div align ="center">
    <h3 align ="center"> WALTER </h3>
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11507.676306523643!2d18.399198098383568!3d43.85750593167079!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4758c8d95922ba2d%3A0x5a29d7668ba4c946!2sDas+ist+Walter+Club!5e0!3m2!1sen!2sba!4v1528681083872" width="500" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
<div align ="center">
    <h3 align ="center"> MY FACE </h3>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2877.1004923025716!2d18.39501511493663!3d43.85374574745836!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4758c921fa754427%3A0xfcfff9278eef6a83!2sMy+Face!5e0!3m2!1sen!2sba!4v1528681143448" width="500" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
<div align ="center">
    <h3 align ="center"> CINEMAS CLUB SLOGA </h3>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2876.811866373433!2d18.41659501493682!3d43.85972794707011!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4758c8d06d1d292f%3A0xaeccf1639e3ce15a!2sCinemas+Sloga!5e0!3m2!1sen!2sba!4v1528681188717" width="500" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
</body>